.artwork-container {
  border: 3px solid #7f7f7f;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  width: calc(100% - 20px);
  height: fit-content;
  min-height: 15em;
  position: relative;
  /* max-height: 32em; */
}

.leftDiv {
  /* outline: solid 1px red; */
  padding: 10px;
  width: 46%;
}

.rightDiv {
  /* outline: solid 1px green; */
  width: 46%;
  justify-content: center;
  display: flex;
}

.artwork-img {
  /* outline: solid 1px blue; */
  padding: 0;
}



.artwork-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(5px 5px #0000007f);
}


.artwork-container ul {
  margin: 0;
}

.artwork-container h3 {
  margin: 0;
}

.artwork-aliases {
  font-style: italic;
  color: color-mix(in srgb, var(--text-normal), transparent 50%);
  font-size: 75%;
  line-height: 75%;
  margin-bottom: 5px;
}

.artwork-title {
  margin: 0 0 10px 0;
}

.custom-icon {
  font-weight: normal;
}

.artwork-md-link {
  position: absolute;
  flex-grow: 0;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  margin: 0.5em;
}

.artwork-md-link a {
  color: var(--text-normal) !important;
}