/* .naked-embed *.markdown-embed-title {
  /* display: none; * /
  color: rgba(0, 0, 0, 0);
}

.naked-embed:before {
  content: attr(data-time);
  display: block;
  font-size: 112.5%;
  line-height: 112.5%;
  transform: translate(1.5em, 1.5em);
}
.naked-embed:after {
  content: attr(data-location);
  display: block;
  font-size: 75%;
  line-height: 75%;
  transform: translate(2em, -1em);
}
.naked-embed {
  margin-top: -1.5em;
  margin-bottom: -1.5em;
}
.naked-embed[data-time~=":"] {
  margin-top: 15em !important;
  margin-bottom: 15em !important;
} */
